@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
/* shared styles */
body{
    font-family: "Inter", sans-serif;
    max-width:1440px;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.display-flex{
    display: flex;
}
.no-color{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
padding: 16px 40px 16px 40px;
border-radius: 42px;
border: 1px solid rgb(255, 255, 255);
margin-left: 0.8rem;
cursor: pointer;
}
.btn{
background: rgb(230, 83, 60);
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
padding: 16px 40px 16px 40px;
border-radius: 42px;
border: none;
cursor: pointer;
}
/* hero section start */
.hero{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); 
    max-width:100%;
    height: 670px;
}
.navbar{
    max-width: 1060px;
height: 46px;
margin: 0 auto;
margin-top: 3.5rem;
justify-content: space-between;
align-items: center;
}
.title{
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
}
.menu{
    width: 465px;
height: 46px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;
justify-content: space-between;
align-items: center;
}
.menu li{
    color: rgb(255, 255, 255);
font-size: 1.125rem;
list-style: none;
margin-left: 4px;
margin-right: 1rem;
cursor: pointer;
}
.menu img{
    background-color: #fff;
    width: 20px;
    height: 20px;
    display: none;
}
.home{
    background: rgb(230, 83, 60);
    border-radius: 46px;
    padding: 8px 20px 8px 20px;

}
.banner{
    max-width: 1060px;
    margin: 0 auto;
}
.banner-content{
    width: 599.05px;
height: 440px;
margin-top: 6rem;
margin-bottom: 4.7rem;
}
.banner-title{
    color: rgb(255, 255, 255);
font-size: 4.4rem;
font-weight: 900;
line-height: 120%;
margin-bottom: 1.6rem;
letter-spacing: 0%;
}
.shape{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 9rem;
}
.banner-sub-title{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 1.6rem;
}
.banner-img{
    background-image: url(../images/Images-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 349px;
height: 600px;
margin-left: 5.4rem;
margin-top: 1.5rem;
position: relative;
}
.video{
    width: 206px;
height: 96px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
justify-content: center;
align-items: center;
gap: 15px;
position: relative;
left: -7rem;
top: 27rem;
}
.color{
    width: 40px;
height: 40px;
background: rgb(230, 83, 60);
border-radius: 50px;
}
.video-number h3{
    color: rgb(250, 250, 249);
font-size: 1.5rem;
font-weight: 900;
}
.video-number p{
    color: rgba(239, 237, 232, 0.65);
}
.free{
    width: 193px;
height: 98px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
display: flex;
justify-content: center;
align-items: center;
position: relative;
 left: 14.125rem;
top: 2rem;
}
.free-number h2{
    color: rgb(255, 255, 255);
font-size: 2.5rem;
font-weight: 900;
}
.free-number p{
    color: rgba(255, 255, 255, 0.65);
font-size: 0.8rem;
}
/* hero section end */


/* habit section start */
.habit{
   max-width: 1044px;
height: 452px;
margin: 0 auto;
margin-top: 6rem;
margin-bottom: 6rem;
}
.habit-title{
    width: 671px;
height: 120px;
margin: 0 auto;
text-align: center;
}
.habit-title h1{
    color: rgb(255, 255, 255);
font-size: 3rem;
font-weight: 900;
}
.habit-title p{
    color: rgba(255, 255, 255, 0.5);
}
.change-habit{
    height: 274px;
    margin-top: 3.5rem;
    gap: 2rem;
}
.change-item{
    width: 231px;
}
.item-image{
    width: 180px;
    height: 172px;
    margin: 0 auto;
}
.item-image img{
    border-radius: 50%;
}
.image-title{
    text-align: center;
    margin-top: 1.5rem;
}
.image-title h6{
    color: rgb(255, 255, 255);
font-size: 1.125rem;
font-weight: 600;
}
.image-title p{
    color: rgba(255, 255, 255, 0.5);
    margin-top: .5rem;
}
/* habit section end */

/* run section start */
.run-content{
    justify-content: space-between;
}
.run{
    max-width: 1060px;
height: 371px;
margin: 4rem auto;
border-radius: 18px;
background: rgb(34, 34, 34);
}
.run-title{
    width: 443px;
    height: 290px;
    margin: 2.5rem ;
    /* border: 2px solid white; */
}
.run-title h1{
    color: rgb(255, 255, 255);
font-size: 3.2rem;
font-weight: 900;
margin-top: 0;
}
.run-title p{
    color: rgba(255, 255, 255, 0.5);
    margin-top: .875rem;
    margin-bottom: 2rem;
}
.run-image img{
    max-width: 366px;
height: 312px;
margin: 2rem;
border-radius: 1.125rem;
}
/* run section end */


@media screen and (max-width: 576px) {
    .hero{
        max-width: 100%;
    }
    .title{
        margin-left: .5rem;
    }
    .menu li{
        display: none;
    }
    .menu img{
        display: inherit;
        margin-left: 90%;
        cursor: pointer;
    }
    .menu{
        border: none;
        border-radius: 0;
    }
    .banner{
        flex-direction: column;
        margin-top: -3rem;
        
    }
    .banner-content{
        max-width: 350px;
height: 335px;
margin-left: .5rem;
margin-bottom: .3rem;
    }
    .banner-title{
        width: 285px;
height: 129px;
line-height: 50%;
    }
    .banner-sub-title{
        max-width: 100%;
    }
    .banner-title h1{
        font-size: 2.25rem;
    }
    .shape{
        font-size: 4.25rem;
    }
    .btn{
        width: 169px;
height: 54px;
    }
    .club{
        display: none;
    }
    .no-color{
        width: 169px;
        height: 54px;
        text-align: left;
        padding: 16px 20px 16px 20px;
    }
    .button{
        display: flex;
        max-width: 100%;
    }
    .free{
        width: 145.91px;
        height: 74.09px;
        left: 11.8rem;
        top: .5rem;
    }
    .video{
        width: 170px;
        height: 72.58px;
        left: -.2rem;
        top: 17.5rem;
    }
    .banner-img{
        max-width: 100%;
        margin-left: 1.5rem;
    }

    .habit{
        width: 338px;
height: 1398px;
margin-top: 25.5rem;
margin-bottom: 1.5rem;
    }
    .habit-title{
        width: 318px;
height: 124px;
margin: 0 auto;
}
    .habit-title h1{
        font-size: 2rem;
    }
    .change-habit{
        flex-direction: column;
        align-items: center; 
        margin-top: 2rem;
    }

.run{
    width: 353px;
height: 531px;
margin-top: 1.5rem;
}
.run-content{
    flex-direction: column;
}
.run-title{
    width: 287px;
height: 264px;
margin-bottom: .5rem;
margin-top: 1.5rem;
    }
    .run-title h1{
        font-size: 2.2rem;
    }
    .run-title p{
        margin-bottom: 1.5rem;
    }
    .run-title button{
        width: 287px;
    }
    .run-image img{
        width: 287px;
height: 170px;
/* margin-bottom: 2rem; */
    }
}